@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Inter Tight', sans-serif;
    background-color: #FAF7F0;
    /* background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: center; */
}

img {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 0;
    left: 0;
    object-fit: contain;
    opacity: 1;
    pointer-events: none;
}

table {
    /* border: 2px solid #1e1e1e; */
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

th {
    /* border: 2px solid #1e1e1e; */
    padding: 0.5rem;
}

td {
    /* border-top: 1px solid #1e1e1e; */
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.container {
    margin-top: 1rem;
    display: grid;
    justify-items: center;
}

.container h1 {
    font-size: 2rem;
}

.container h2 {
    font-size: 1.3rem;
}

.container h3 {
    font-size: 1rem;
    text-align: center; 
    font-weight: 600; 
    padding-top: 3rem;
}

.container p {
    font-size: 1.1rem;
    text-align: center;
    padding: 0.2rem;
}

.title {
    /* display: block; */
    /* width: 900px; */
    text-align: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.text {
    /* display: block; */
    width: 40%;
}

.text p {
    text-align: left;
}

.links {
    margin-top: 1rem;
    display: grid;
    grid-template-areas: "a";
    gap: 1rem;
    padding-top: 2rem;
    transform: scale(1.3);
}

.links a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

.se {
    background-image: url(img/se.png);
    width: 350px;
    height: 150px;
}

.da {
    background-image: url(img/da.png);
    width: 350px;
    height: 150px;
}

/* Иконки шмота для ИРЛ */

.things {
    display: grid;
    grid-template-areas: "a a a a";
    gap: 1rem;
    padding-top: 1rem;
    position: relative;
}

.select {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    font-weight: 800;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: rgba(7, 7, 7, 0.753);
    color: rgb(255, 255, 255);
    opacity: 0;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
}

.select:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.done {
    background-color: rgba(100, 220, 70, 0.753);
    color: rgb(30, 30, 30);
}

.holder {
    background-image: url(img/things/holder.jpg);
    background-size: 110%;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
    position: relative;
}

.holder a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

.powerbank {
    background-image: url(img/things/powerbank.jpg);
    background-size: 110%;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
    position: relative;
}

.powerbank a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

.tws {
    background-image: url(img/things/tws.webp);
    background-size: 110%;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
    position: relative;
}

.tws a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

.bag {
    background-image: url(img/things/bag.png);
    background-size: 100%;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
    position: relative;
}

.bag a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

/* Конец иконок */

.down {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 3rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.9;
    transition: 0.2s;
}

.new {
    font-weight: 700; 
    color: #7A0DFF; 
    vertical-align: super; 
    font-size: 0.6rem;
    animation-name: new;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

footer {
    display: grid;
    grid-template-areas: "a a";
    color: #fff;
    margin-top: 3.8rem;
    justify-content: center;
    background-color: #1e1e1e;
    text-align: center;
    height: 8rem;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 600;
}

footer a:hover {
    color: #c7c7c7;
}

footer .social {
    width: 200px;
    text-align: left;
    margin: 1rem;
    padding: 1rem;
    line-height: 2.2rem;
}

footer .info {
    width:  200px;
    text-align: left;
    margin: 1rem;
    padding: 2rem;
}

footer h3 {
    font-weight: 600;
    font-size: 1rem;
}


/* Animations */

@keyframes new {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


/* Responsive */

@media screen and (max-width: 912px) {
    .text {
        width: 80%;
    }

    img {
        opacity: 0;
    }

    footer {
        padding-top: 0.5rem;
        gap: 0rem;
        height: 7rem;
    }

    footer .social {
        width: 90px;
        text-align: left;
        margin: 0rem;
        padding: 1rem;
        line-height: 2.2rem;
    }
    
    footer .info {
        width:  200px;
        text-align: left;
        margin: 0rem;
        padding: 2rem;
    }
    
    footer h3 {
        font-weight: 600;
        font-size: 1rem;
    }
}

@media screen and (max-width: 792px) {
    .links {
        grid-template-areas: "a";
        gap: 1rem;
        transform: scale(1.3);
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .container h1 {
        font-size: 2.2rem;
    }
    
    .container h2 {
        font-size: 1.7rem;
    }
    
    .container h3 {
        font-size: 1.2rem;
    }
    
    .container p {
        font-size: 1.3rem;
    }

    .down {
        padding-top: 4rem;
        font-size: 1.2rem;
    }

    .things {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }

}

@media screen and (max-width: 486px) {
    .container h1 {
        font-size: 2rem;
    }
    
    .container h2 {
        font-size: 1.5rem;
    }
    
    .container h3 {
        font-size: 1rem;
    }
    
    .container p {
        font-size: 1.1rem;
    }

    .links {
        transform: scale(1.1);
        padding-top: 0.5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    .down {
        padding-top: 2rem;
    }

    footer a {
        font-size: 0.9rem;
    }

    footer .social {
        line-height: 1.9rem;
    }

    footer .info {
        padding: 1.6rem;
    }
    
    footer h3 {
        font-size: 0.9rem;
    }

    .things {
        display: grid;
        grid-template-areas: "a a";
        gap: 1rem;
        padding-top: 1rem;
    }
}

@media screen and (max-width: 390px) {

    .links {
        transform: scale(0.9);
        padding-top: 0.1rem;
        padding-bottom: 1rem;
        margin-top: 0.1rem;
    }

    .container h1 {
        padding-top: 1.4rem;
    }

    .container h3 {
        padding-top: 2rem;
    }

    .down {
        padding-top: 0.5rem;
    }

    footer {
        height: 6rem;
    }

    footer .social {
        padding: 0.6rem;
    }

    footer .info {
        padding: 1.2rem;
        width: 180px;
    }

    .things {
        scale: 0.9;
        padding-top: 0.2rem;
    }

}

