:root {
    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-text-light: #ffffff;
    --color-text-light-secondary: #cccccc;
    --color-text-dark-secondary: #999;
    
    --color-background-light: #ffffff;
    --color-background-dark: rgba(97, 97, 97, 0.1);
    --color-background-gradient-light-1: #0a0a0a;
    --color-background-gradient-light-2: #000000;
    --color-background-gradient-dark-1: #000000;
    --color-background-gradient-dark-2: #0a0a0a;
    
    --color-border-light: #ffffff;
    --color-border-light-transparent: rgb(255, 255, 255);
    
    --color-shadow-light: rgba(0, 0, 0, 0.1);
    --color-shadow-light-hover: rgba(0, 0, 0, 0.15);
    --color-shadow-dark: rgba(0, 0, 0, 0.3);
    --color-shadow-profile: rgba(0, 0, 0, 0.55);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--color-background-gradient-light-1);
    min-height: 100vh;
    /* padding: 20px; */
    position: relative;
    /* overflow: hidden; */
}

body::after,
body::marker,
body::first-line {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.profile {
    /* margin-bottom: 30px; */
    padding: 10px 10px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.icon-row {
    display: flex;
    justify-content: space-between; /* Распределяем блоки равномерно */
    gap: 15px;
    padding: 0px 0;
}

.link-button {
    margin-bottom: 0;
    transition: transform 0.2s, box-shadow 0.2s, border 0.3s;
    border: 2px solid transparent;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Это поможет разместить footer внизу */
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.links {
    flex-grow: 1; /* Основное содержимое будет занимать все доступное пространство */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    width: 100%;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 
@keyframes glow {
    0% {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(0.95);
    }
    50% {
        opacity: 0.6;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0.4;
        transform: translate(-50%, -50%) scale(0.95);
    }
}

@keyframes glow-size {
    0% {
        transform: translate(-50%, -50%) scale(0.3);
    }
    20% {
        transform: translate(-50%, -50%) scale(0.8);
    }
    40% {
        transform: translate(-50%, -50%) scale(0.4);
    }
    60% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    80% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.3);
    }
}

@keyframes glow-opacity {
    0% {
        opacity: 0.3;
    }
    30% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.4;
    }
    100% {
        opacity: 0.3;
    }
} */

.bio {
    color: var(--color-text-secondary);
    margin-bottom: 20px;
    font-size: clamp(0.9rem, 4vw, 1.1rem);
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid var(--color-border-light);
    box-shadow: 0 0 5px var(--color-shadow-profile);
}

.profile-info {
    text-align: left;
    flex: 1;
    margin-left: 15px;
}

h1 {
    color: var(--color-text-primary);
    margin-bottom: 5px;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.icon-only {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Устанавливаем ширину на 100% */
    height: 60px;
    background: var(--color-background-dark);
    border-radius: 12px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    box-shadow: 0 2px 4px var(--color-shadow-light);
    border: 2px solid transparent;
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
}

.hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

@media (max-width: 480px) {
    .hover-text {
        font-size: 10px;
    }
}

.icon-only:hover .hover-text {
    opacity: 1;
}

.icon-only img {
    width: 40px;
    height: 40px;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.icon-only:hover img {
    opacity: 0.2;
    filter: blur(2px);
}

@media (hover: hover) {
    .icon-only:hover {
        transform: scale(1.01);
        border: 2px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px var(--color-shadow-light-hover);
    }
}

@media (hover: none) {
    .icon-only:active .hover-text {
        opacity: 1;
    }
    
    .icon-only:active img {
        opacity: 0.2;
        filter: blur(2px);
    }
}

.link-button {
    display: flex;
    align-items: center;
    padding: 16px 20px;
    background: var(--color-background-dark);
    border-radius: 12px;
    text-decoration: none;
    color: var(--color-text-primary);
    font-weight: 500;
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s;
    box-shadow: 0 2px 4px var(--color-shadow-light);
    font-size: 1rem;
    width: 100%;
    min-height: 60px;
    position: relative;
    overflow: hidden;
}

.link-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.3),
        transparent
    );
    transform: skewX(-25deg);
    transition: left 0.5s ease; */
}

.link-button:hover::before {
    left: 150%;
}

@media (hover: hover) {
    .link-button:hover {
        transform: scale(1.01);
        border: 2px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 8px var(--color-shadow-light-hover);
    }

    .link-button:hover::before {
        left: 150%;
    }
}

/* Стили для мобильных устройств */
@media (hover: none) {
    .link-button:active {
        transform: scale(0.98);
    }
    
    .link-button::before {
        display: none;
    }
}

/* Light theme styles */
@media (prefers-color-scheme: light) {
    body {
        background: var(--color-background-gradient-dark-1);
    }
    
    h1 {
        color: var(--color-text-light);
    }
    
    .bio {
        color: var(--color-text-light-secondary);
    }
    
    .link-button {
        background: var(--color-background-dark);
        color: var(--color-text-light);
        backdrop-filter: blur(5px);
    }
    
    .link-button i {
        color: var(--color-text-light);
    }
    
    .link-description {
        color: var(--color-text-dark-secondary);
    }
    
    .profile-image {
        border-color: var(--color-border-light-transparent);
        box-shadow: 0 0 10px var(--color-shadow-dark);
    }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    body {
        background: var(--color-background-gradient-dark-1);
    }
    
    h1 {
        color: var(--color-text-light);
    }
    
    .bio {
        color: var(--color-text-light-secondary);
    }
    
    .link-button {
        background: var(--color-background-dark);
        color: var(--color-text-light);
        backdrop-filter: blur(5px);
    }
    
    .link-button i {
        color: var(--color-text-light);
    }
    
    .link-description {
        color: var(--color-text-dark-secondary);
    }
    
    .profile-image {
        border-color: var(--color-border-light-transparent);
        box-shadow: 0 0 10px var(--color-shadow-dark);
    }
}

.link-icon {
    width: 24px;
    height: 24px;
    /* margin-right: 15px; */
    flex-shrink: 0;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.link-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.link-text-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link-title {
    font-weight: 600;
    margin-bottom: 2px;
    text-align: center;
    font-size: 1rem;
    padding: 0 1rem;
}

@media (max-width: 480px) {
    .rating-row .link-title {
        font-size: 0.75rem;
        padding: 0 0.5rem;
    }
}

.link-description {
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    text-align: center;
}

/* Стили для футера */
.footer {
    margin-top: 30px;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    ;
}

.footer p {
    color: var(--color-text-light-secondary);
    font-size: 0.9rem;
}

.rating-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.rating-row .link-button {
    width: 50%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-group.half {
    flex: 1;
}

/* Стили для цветовой градации оценок */
.rating-low {
    color: #e74c3c !important;
}

.rating-medium {
    color: #f39c12 !important;
}

.rating-high {
    color: #2ecc71 !important;
}

/* Стили для переключателей звезд и никнеймов */
.star-toggles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggle-label {
    color: white;
    margin-right: 10px;
    font-size: 14px;
}

/* Стиль для переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
    .profile-header {
        flex-direction: column;
        text-align: center;
    }
    
    .profile-info {
        margin-left: 0;
        margin-top: 10px;
    }
    
    .star-toggles {
        margin-left: 0;
        margin-top: 15px;
        flex-direction: row;
        justify-content: center;
    }
    
    .toggle-container {
        margin: 0 10px;
    }
}





/* Стили для калькулятора */
.calculator-container {
    background-color: var(--color-background-dark);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    transition: all 0.4s ease-in-out;
}

.calculator-title {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 500;
}

select, input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2a2a35;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.calculate-btn {
    background: linear-gradient(135deg, #6e57e0, #9b59b6);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif; /* Добавляем это свойство */
}

.calculate-btn:hover {
    background: linear-gradient(135deg, #7d68e0, #a66bbf);
    transform: translateY(-2px);
}

/* Стили для анимации блока результатов */
.result {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    margin-top: 0;
}

.result.visible {
    max-height: 300px; /* Достаточно большое значение для любого содержимого */
    opacity: 1;
    margin-top: 15px;
}

/* Обновляем существующие стили для блока результатов */
#total-price {
    padding: 10px;
    background-color: rgba(40, 40, 50, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.price-breakdown {
    margin-top: 15px;
    text-align: left;
    font-size: 0.9em;
    color: #ccc;
}

/* Стили для поиска игр */
.search-input-container {
    position: relative;
}

/* Стили для индикатора загрузки */
.loader-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2a2a35;
    border: 1px solid #444;
    border-radius: 8px;
    margin-top: 5px;
    padding: 15px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(110, 87, 224, 0.3);
    border-radius: 50%;
    border-top-color: #6e57e0;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

/* Стили для анимации появления списка результатов */
.search-results {
    position: absolute;
    color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2a2a35;
    border: 1px solid #444;
    border-radius: 8px;
    margin-top: 5px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000; /* Высокий z-index, чтобы отображаться поверх других элементов */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.search-results.visible {
    opacity: 1;
    transform: translateY(0);
}

.game-result {
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.game-result:hover {
    background-color: #3a3a45;
}

.no-results {
    padding: 10px 15px;
    color: #aaa;
    text-align: center;
}

/* Стили для отображения поиска и обложки */
.search-cover-container {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    align-items: flex-start;
}

.game-cover-container, .game-description {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.game-cover-container.visible, .game-description.visible {
    opacity: 1;
    transform: translateY(0);
}

.game-cover-container {
    width: 120px;
    flex-shrink: 0;
}

.game-cover-container img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.game-info-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    align-items: flex-start;
}

.game-description {
    flex-grow: 1;
    color: #ccc;
    font-size: 0.9em;
    line-height: 1.4;
    text-align: justify;
    margin: 0;
    overflow-wrap: anywhere;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.length-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Стили для анимации кнопки Steam */
.steam-link {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 0.9em;
    padding: 2px 8px;
    background-color: rgba(110, 110, 110, 0.1);
    align-self: normal;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: relative;
    display: inline-flex;
}

.steam-link.visible {
    opacity: 1;
    transform: translateX(0);
}

.steam-link:hover {
    background-color: rgba(207, 207, 207, 0.1);
    color: #ffffff;
}

/* Стили для анимации кнопки HLTB */
.hltb-link {
    color: #2196f3;
    text-decoration: none;
    font-size: 0.9em;
    padding: 2px 8px;
    background-color: rgba(110, 87, 224, 0.1);
    align-self: normal;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    position: relative;
    display: inline-flex;
}

.hltb-link.visible {
    opacity: 1;
    transform: translateX(0);
}

.hltb-link:hover {
    background-color: rgba(128, 106, 238, 0.2);
    color: #80c6ff;
}

input[readonly] {
    background-color: #222230;
    cursor: default;
}

/* Стили для подсказки */
#hltb-tooltip-container {
    display: none;
}

.hltb-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 5px); /* Отступ от кнопки */
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.85em;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: auto;
    cursor: pointer;
    z-index: 1000;
}

/* Стрелочка под подсказкой */
.hltb-tooltip::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 768px) {
    .hltb-tooltip {
        font-size: 0.75em;
        padding: 4px 8px;
    }
}

.hltb-tooltip {
    opacity: 1;
    visibility: visible;
}

/* Стили для текста о договорной цене */
.negotiate-text {
    margin-top: 20px;
    text-align: center;
    /* font-style: italic; */
    color: #9b59b6;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    padding: 8px;
    border-top: 1px solid rgba(155, 89, 182, 0.3);
}

.negotiate-text.visible {
    opacity: 1;
    transform: translateY(0);
}

.order-button {
    background: linear-gradient(135deg, #1553fd, #7f00f5);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    margin-top: 20px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-decoration: none;
    display: block;
}

.order-button:hover {
    background: linear-gradient(135deg, #366bff, #901efa);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.order-button:active {
    transform: translateY(0);
}

/* Стили для контейнера тегов */
.tags-container {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background-color: #222230;
    border-radius: 8px;
    padding: 5px 10px;
    border: 1px solid #444;
}

.tags-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;
    min-height: 30px;
}

.tag {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding: 4px 8px;
    margin: 2px 0;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tag:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.tag::after {
    content: '×';
    margin-left: 5px;
    font-weight: bold;
}

.toggle-tags-btn, .reset-tags-btn {
    background: none;
    border: none;
    color: var(--color-text-light);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.toggle-tags-btn:hover, .reset-tags-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.toggle-tags-btn.active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Стили для тега Horror */
.horror-tag {
    background-color: rgba(255, 0, 0, 0.2);
    color: #ff6b6b;
    border: 1px solid rgba(255, 0, 0, 0.3);
}

.horror-tag:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

.price-without-game {
  font-size: 0.8em;
  color: #ccc;
  margin-top: 5px;
}