@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter Tight', sans-serif;
    background-color: #FAF7F0;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding: 1rem;
    display: grid;
    justify-items: center;
    /* background-color: #6f1212; */
    width: 100%;
}

.container h1 {
    font-size: 2rem;
}

.container h2 {
    font-size: 1.5rem;
}

.container h3 {
    font-size: 1rem;
}

.container p {
    font-size: 1.1rem;
    text-align: left;
    padding: 0.2rem;
}

.title {
    display: block;
    width: 900px;
    text-align: center;
    padding-top: 1rem;
}

.text {
    display: block;
    width: 50%;
}

.links {
    display: grid;
    grid-template-areas: "a a";
    gap: 3rem;
    padding-top: 2rem;
}

.links a {
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 1px rgba(12, 12, 12, 0.5);
}

.se {
    background-image: url(img/se.png);
    width: 350px;
    height: 150px;
}

.da {
    background-image: url(img/da.png);
    width: 350px;
    height: 150px;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.9;
    transition: 0.2s;
}


/* Responsive */

/* @media only screen and (max-width: 912px) {
    .text {
        display: block;
        width: 80%;
    }
}

@media only screen and (max-width: 712px) {
    .links {
        grid-template-areas: "a";
        gap: 1rem;
    }

    .container h1 {
        font-size: 2.2rem;
    }
    
    .container h2 {
        font-size: 1.7rem;
    }
    
    .container h3 {
        font-size: 1.2rem;
    }
    
    .container p {
        font-size: 1.3rem;
    }

    .links {
        transform: scale(1.3);
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 462px) {
    .container h1 {
        font-size: 2.5rem;
    }
    
    .container h2 {
        font-size: 2rem;
    }
    
    .container h3 {
        font-size: 1.5rem;
    }
    
    .container p {
        font-size: 1.6rem;
    }

    .links {
        transform: scale(1.5);
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 350px) {
    .container h1 {
        font-size: 3rem;
    }
    
    .container h2 {
        font-size: 2.5rem;
    }
    
    .container h3 {
        font-size: 2rem;
    }
    
    .container p {
        font-size: 2.1rem;
    }

    .links {
        transform: scale(1.8);
        padding-top: 8rem;
        padding-bottom: 1rem;
    }
} */
