@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white-bg: #927a9d;
    --black-bg: #151317;
    /* --black-bg: #06030b; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: 'Inter Tight', sans-serif;
    background-color: #FAF7F0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    

}

.wrapper {
    display: flex;
    /* gap: 1rem; */
    max-width: 1300px;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* mask-image: url(img/requests/mask.png);
    -webkit-mask-image: url(img/requests/mask.png);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: cover; */
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.slider {
    /* min-width: calc(50% - 0.5rem); */
    width: 500px;
    height: 700px;
    aspect-ratio: 1 / 1;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    scroll-snap-align: center;
    font-weight: 600;
    user-select: none;
    border-radius: 1rem;
    box-shadow: 0 0 7px #000000;
    scale: 0.97;
}

.first {
    background-color: transparent;
    box-shadow: 0 0 0px #000000;
    width: 250px;
    margin-right: -4rem;
}

.slider img {
    width: 100%;
    border-radius: 1rem;
    pointer-events: none;
}

.option {
    display: grid;
    gap: 1rem;
    grid-template-areas: "a a a a";
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ref {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #FAF7F0;
    padding: 1rem;
    background-color: #222;
    border-radius: 0.8rem;
}

.gold {
    background-color: #fa9f0b;
    color: #222;
}


/* Animation */

@keyframes new {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* Responsive */

@media screen and (max-height: 812px) {
    .slider {
        width: 400px;
        height: 560px;
    }
}

@media screen and (max-height: 680px) {
    .slider {
        width: 360px;
        height: 500px;
    }
}

@media screen and (max-width: 792px) {
    .first {
        width: 150px;
        margin-right: -2rem;
    }
    
}

@media screen and (max-width: 712px) {
    .option {
        grid-template-areas: "a a";
        gap: 0.5rem;
    }

    .slider {
        width: 400px;
        height: 560px;
    }

    .first {
        width: 150px;
        margin-right: -2rem;
    }
}

@media screen and (max-width: 486px) {
    .container {
        margin-top: -5rem;
    }

    .ref {
        font-size: 0.8rem;
        border-radius: 0.5rem;
    }

    .slider {
        width: 300px;
        height: 420px;
    }

    .first {
        width: 50px;
        margin-right: 0rem;
        font-size: 1rem;
    }
    
}